
/webClip/.obsidian/workspace-mobile.json
/webClip/.obsidian/*-plugins.json
/webClip/.obsidian/appearance.json
/webClip/.obsidian/plugins/recent-files-obsidian/data.json
/webClip/.obsidian/plugins/obsidian-git/data.json
/webClip/.obsidian/cache/
/webClip/.obsidian/plugins/
/webClip/.obsidian/workspace.json